h1 {
  color: var(--color-violet);
  font-family: primot, Georgia;
  font-size: 50px;
  line-height: 56px;
  margin: 0;
}

h2 {
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 10px 0;
}

p {
  color: var(--color-neutral);
  font-size: 14px;
  text-align: center;
}

.countries__cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.desktop-only {
  display: none;
}

.fade-bottom,
.fade-top {
  box-shadow: 0px -1px 5px 15px var(--color-white);
  position: absolute;
  right: 0px;
  width: 50%;
}

.fade-bottom {
  top: 3px;
}

.fade-top {
  bottom: 0;
}

.header {
  align-items: center;
  background: transparent var(--gradient-light-blue) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 190px;
  padding: 40px 0 20px 0;
  text-align: center;
}

.mobile-hidden {
  display: none;
}

.selector {
  max-width: 360px;
  width: 100%;
}

/*************************************************************************************
*********************             MEDIA QUERIES               ************************
**************************************************************************************/

/* TABLET */
@media only screen and (min-width: 481px) {
  h1 {
    font-size: 60px;
    line-height: 66px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  .countries__cards {
    padding: 0 40px;
  }

  .header {
    min-height: 220px;
  }

  .mobile-hidden {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  .selector {
    max-width: 600px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1025px) {
  .countries {
    display: flex;
    position: relative;
  }

  .countries__cards {
    max-height: calc(100vh - 290px);
    overflow-y: scroll;
    padding-top: 20px;
    width: 40%;
  }

  .countries__map {
    margin-left: 20px;
    width: 60%;
  }

  .countries__map .countries__map > svg {
    border: 2px solid var(--color-light-blue);
    border-radius: 5px;
    max-height: calc(100vh - 290px);
  }

  .desktop-only {
    display: block;
  }

  .header {
    min-height: 165px;
  }
}
