h1 {
  color: var(--color-violet);
  font-family: primot, Georgia;
  font-size: 50px;
  font-weight: bold;
  line-height: 56px;
  margin: 0;
}

.header {
  align-items: center;
  background: transparent var(--gradient-light-blue) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 190px;
  padding: 40px 20px;
  text-align: center;
}

.selector {
  max-width: 360px;
  width: 100%;
}

/*************************************************************************************
*********************             MEDIA QUERIES               ************************
**************************************************************************************/

/* TABLET */
@media only screen and (min-width: 481px) {
  h1 {
    font-size: 60px;
    line-height: 66px;
  }

  .header {
    min-height: 220px;
  }

  .selector {
    max-width: 600px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1025px) {
  .header {
    min-height: 165px;
  }

  .selector {
    max-width: 360px;
  }
}
